
<div class="container mx-auto"  style="width: 1150px">
  <table class="table table-bordered table-sm mt-4">
    <thead>
      <tr>
        <th>Hesap id</th>
        <th>Hesap Adı</th>
        <th>Hesap Bakiyesi</th>
        <th>İşlemler</th>

      </tr>
    </thead>
    <tbody>

      <tr *ngFor="let account of accounts">
        <td id="accountId" class="col-1" >{{account.id}}</td>
        <td class="col-4">{{account.name}}</td>
        <td class="col-4">{{account.totalBalance}}</td>
        <td class="col-3">
          <button class="btn btn-success" (click)="openDepositDialog(account.id)">Para Yatır</button>
          <button class="btn btn-warning ms-2" (click)="openWithdrawDialog()">Para Çek</button>
        </td>

    </tr>

    </tbody>
    </table>

</div>



